<ion-view view-title="Select City">
  <ion-content class="has-header">

    <label class="item item-input">
  Enter City Name:<input type="text" ng-model="cityInfo.name">
  </label>
    <button class="button button-large button-positive" ng-click="comeOn()"> Click</button>
    <br><br>
    <!--<p>{{data}}</p>-->

    <p>City Name: {{name}}</p>
    <p>Current Temperature: {{temp}}</p>
    <p>Mininum Temperature: {{minTemp}}</p>
    <p>Maximum Temperature: {{maxTemp}}</p>
  </ion-content>
</ion-view>